

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="float-xs-right hidden-sm-up">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4">
                    <h2>{{AccCtrl.titleFormation}}</h2>
                    <p>{{AccCtrl.formation.description}}. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="col-xs-6 col-lg-4">
                    <h2>{{AccCtrl.titleExperiences}}</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="col-xs-6 col-lg-4">
                      <h2>{{AccCtrl.titleProjets}}</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="col-xs-6 col-lg-4">
                      <h2>{{AccCtrl.titleContact}}</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="col-xs-6 col-lg-4">
                    <h2>{{AccCtrl.titleLoisirs}}</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!--/span-->
                <div class="col-xs-6 col-lg-4">
                    <h2>{{AccCtrl.titleLangues}}</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>

  <

</div><!--/.container-->











<!--
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Contact</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        Nom
                    </div>
                    <div class="col-md-9">
                        {{AccCtrl.contact.nom}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Prénom
                    </div>
                    <div class="col-md-9">
                        {{AccCtrl.contact.prenom}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Email
                    </div>
                    <div class="col-md-9">
                        {{AccCtrl.contact.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Téléphone
                    </div>
                    <div class="col-md-9">
                        {{AccCtrl.contact.telephone}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Adresse
                    </div>
                    <div class="col-md-9">
                        {{AccCtrl.contact.adresse}}
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Formations & Diplômes</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        Niveau
                    </div>
                    <div class="col-md-8">
                        {{AccCtrl.formation.niveau}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Intitulé
                    </div>
                    <div class="col-md-8">
                        {{AccCtrl.formation.intitule}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Date
                    </div>
                    <div class="col-md-8">
                        {{AccCtrl.formation.dateOp | date:'dd/MM/yyyy'}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Mention
                    </div>
                    <div class="col-md-8">
                        {{AccCtrl.formation.mention}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        Etablissement
                    </div>
                    <div class="col-md-8">
                        {{AccCtrl.formation.etablissement}}

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Expériences </h3>
            </div>

            <div class="panel-body">
                <div ng-repeat="exp in AccCtrl.experiences">
                    <div class="row">
                        <div class="col-md-4">
                            Societé
                        </div>
                        <div class="col-md-8">
                            {{exp.societe}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Poste
                        </div>
                        <div class="col-md-8">
                            {{exp.poste}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Entré Le
                        </div>
                        <div class="col-md-8">
                            {{exp.dateEn | date :'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Sortie Le
                        </div>
                        <div class="col-md-8">
                            {{exp.dateSor | date :'dd/MM/yyyy'}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Langues</h3>
            </div>
            <div class="panel-body">
                <div class="row" ng-repeat="lg in  AccCtrl.langues">
                    <div class="col-md-4">
                        {{::lg.langue}}
                    </div>
                    <div class="col-md-8">
                        {{::lg.niveau}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Projets</h3>
            </div>

            <div class="panel-body">
                <div ng-repeat="prj in AccCtrl.projets | orderBy : '-dateEn' |  limitTo: 2">
                    <div class="row">
                        <div class="col-md-4">
                            Context
                        </div>
                        <div class="col-md-8">
                            {{prj.context}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Societé
                        </div>
                        <div class="col-md-8">
                            {{prj.societe}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Poste
                        </div>
                        <div class="col-md-8">
                            {{prj.poste}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Date
                        </div>
                        <div class="col-md-8">
                           Du {{prj.dateEn | date :'dd/MM/yyyy'}} Au  {{prj.dateSor | date :'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Loisirs</h3>
            </div>

            <div class="panel-body">
                <div class="row" ng-repeat="lois in AccCtrl.loisirs | orderBy : '+libelle'">
                    <div class="col-md-4">
                        {{::lois.libelle}}
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
-->
